body{
	font-family:arial,verdana,sans-serif;
}

img{
	border:none;
}

.menu{
	float:left; 
	width:15%; 
	height:100%; 
	background-image:url('images/fond_menu.png');
	background-repeat:repeat-y;
	background-position:right top; 
}

.cadre{
	float:right; 
	width:85%; 
	height:100%; 
	background-image:url('images/corner.png');
	background-repeat:no-repeat;
	background-position:right bottom; 
}

.contenu{
	padding-top:10px;
	padding-left:5px;
}

.top{
	float:right; 
	padding-right:40px;
}

.lien{
	color:steelblue;
	cursor:pointer;
	text-decoration:underline;
}

a:link{
	color:steelblue;
}
a:visited{
	color:steelblue;
}
a:hover{
	color:steelblue;
}
