<?xml version="1.0" encoding="ISO-8859-1"?>
    
<web-app>	
	<servlet>
        <servlet-name>XmlToPdf</servlet-name>
        <servlet-class>XmlToPdf</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>XmlToPdf</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
</web-app>