#meta-info{
	float: right;
}


fieldset{
	border:1px solid grey; 
	width:270px;
	font-size:0.8em;
}

#top-article{
	vertical-align:middle;
	padding-top: 40px;
	padding-right: 30px;
}

h2{
    line-height:1em;
}

h4{
    line-height:0px;
}

h3{
    line-height:0px;
}

#partie{
	margin-bottom:2em;
	margin-top: 2em;
}

#sous-partie{
	margin-top: 2em;
	margin-left:1em;
	margin-bottom:2em;
}
#sous-sous-partie{
	margin-left:2em;
	margin-top: 2em;
	margin-bottom:2em;
}

#article{
	clear:both;
}

#n1{
	margin-left:1em;
}

#n2{
	margin-left:2em;
}

#n3{
	margin-left:3em;
}

ul{
	display: inline;
}